# slides of the course
slides

# zip files
*.zip

# java specific
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime


# Created by https://www.gitignore.io/api/$@

#!! ERROR: $@ is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/$@
